<div *ngIf="admin" class="cancel" (click)="delete()">
  <mat-icon class="pointer">cancel</mat-icon>
</div>
<igx-card class="pointer card" (click)="handleClick()">
  <igx-card-media class="pointer" height="105px">
    <input
      style="display: none"
      type="file"
      (change)="onFileChanged($event, category.id)"
      #fileInput
    />
    <img class="pointer" [src]="category.image" />
  </igx-card-media>
  <button
    *ngIf="admin"
    class="photo"
    mat-raised-button
    (click)="fileInput.click()"
  >
    <p class="pointer">Select File</p>
  </button>
  <igx-card-header class="pointer">
    <textarea
      igxCardHeaderTitle
      class="pointer editable"
      [class]="!admin ? '' : 'cursor'"
      [id]="category.id"
      [(ngModel)]="category.name"
      [value]="category.name"
      [readonly]="!admin"
    ></textarea>
  </igx-card-header>
</igx-card>
