<div *ngIf="admin" class="cancel" (click)="delete()">
  <mat-icon class="pointer">cancel</mat-icon>
</div>
<igx-card class="pointer card" (click)="handleClick()">
  <igx-card-media class="pointer" height="105px">
    <input
      style="display: none"
      type="file"
      (change)="onFileChanged($event, category.categoryId)"
      #fileInput
    />
    <img class="pointer" [src]="category.categoryImage" />
  </igx-card-media>
  <button
    *ngIf="admin"
    class="photo"
    mat-raised-button
    (click)="fileInput.click()"
  >
    <p class="pointer">Select File</p>
  </button>
  <igx-card-header class="pointer">
    <textarea
      igxCardHeaderTitle
      class="pointer editable"
      [class]="!admin ? '' : 'cursor'"
      [id]="category.categoryId"
      [(ngModel)]="category.categoryName"
      [value]="category.categoryName"
      [readonly]="!admin"
    ></textarea>
  </igx-card-header>
</igx-card>

<!-- <div
  *ngIf="!context"
  class="container sample-column card-wrapper flex center but"
>
  <button mat-fab class="pointer" (click)="add()">
    <mat-icon class="pointer">add</mat-icon>
  </button>
</div> -->
