<div id="content" #content>
  <div class="flex center column holder">
    <div class="title flex center column">
      <input
        class="container editable title"
        value="Title"
        [readonly]="!admin"
      />
      <input class="editable subtitle" value="Subtitle" [readonly]="!admin" />
      <div class="logo">
        <img src="../../../../assets/background.jpg" alt="" />
      </div>
      <div class="container flex center column">
        <div class="line">-----------------------------------------</div>
      </div>
    </div>
    <div class="facture-content">
      <table>
        <tr>
          <td>PRODUIT</td>
          <td>QUANTITE</td>
          <td>PRIX</td>
        </tr>
        <tr *ngFor="let purchase of bill.purchases">
          <td>{{ purchase.product.name }}</td>
          <td>{{ purchase.quantity }}</td>
          <td>{{ purchase.product.price | number : "1.0-3" }}</td>
          <td>
            <button mat-mini-fab (click)="deleteProduct(purchase.product)">
              <mat-icon class="pointer">delete</mat-icon>
            </button>
          </td>
        </tr>
        <tr>
          <td><h5>Total:</h5></td>
          <td>
            {{ total }}
            DT
          </td>
        </tr>
      </table>
    </div>
    <div class="container flex center column big">
      <!-- <h2 class="container">{{ bill.user.firstName }}</h2> -->
      <input class="editable title" value="Thank you !" [readonly]="!admin" />
    </div>
    <div class="addition">
      <button mat-flat-button (click)="gPdfServers()">
        <p class="pointer">commande pour serveur</p>
      </button>
    </div>
    <div class="addition">
      <button mat-flat-button (click)="print()">
        <p class="pointer">addition pour le client</p>
      </button>
    </div>
    <div class="flex space-between container">
      <button mat-mini-fab class="back">
        <mat-icon class="pointer">navigate_before</mat-icon>
      </button>
      <button mat-mini-fab color="warn">
        <mat-icon class="pointer">arrow_drop_down</mat-icon>
      </button>
      <button mat-mini-fab class="forward">
        <mat-icon class="pointer">navigate_next</mat-icon>
      </button>
    </div>
  </div>
</div>
