<!-- <div class="heading">Dashboard</div>
<div class="flex center column">
  <div class="calendar">
    <ngx-daterangepicker-material
      (choosedDate)="choosedDate($event)"
      [locale]="{ applyLabel: 'Done', format: 'DD-MM-YYYY' }"
      [lockStartDate]="false"
    >
    </ngx-daterangepicker-material>
  </div>
  <div class="flex spacebeween container buttons">
    <button class="container pointer" (click)="redirectToHomePage()">
      HomePage
    </button>
    <button class="container pointer" (click)="redirectToInComeOfTheYear()">
      Year Stats
    </button>
  </div>
</div> -->
