<div class="sample-column card-wrapper container">
  <div *ngIf="admin" class="cancel">
    <mat-icon class="pointer" (click)="delete()">cancel</mat-icon>
  </div>
  <igx-card>
    <igx-card-media height="100px">
      <input
        style="display: none"
        type="file"
        (change)="onFileChange($event, product.id)"
        #fileInput
      />
      <img [src]="product.image" />
    </igx-card-media>
    <button
      *ngIf="admin"
      class="photo"
      mat-raised-button
      (click)="fileInput.click()"
    >
      <p class="pointer">Select File</p>
    </button>

    <igx-card-header>
      <div *ngIf="!admin">
        <h3 igxCardHeaderTitle>{{ product.name }}</h3>
        <h5 igxCardHeaderSubtitle>{{ product.description }}</h5>
      </div>
      <div *ngIf="admin">
        <input
          igxCardHeaderTitle
          class="pointer editable title cursor"
          [id]="product.id"
          [(ngModel)]="product.name"
          [value]="product.name"
        />
        <textarea
          igxCardHeaderSubTitle
          class="pointer sub editable cursor"
          [id]="product.id"
          [(ngModel)]="product.description"
          [value]="product.description"
        ></textarea>
      </div>
    </igx-card-header>
    <div class="container flex space-between center">
      <igx-card-content>
        <div *ngIf="admin">
          <input
            igxCardHeaderTitle
            class="pointer editable price cursor"
            [id]="product.id"
            [(ngModel)]="product.price"
            [value]="product.price"
          />
          <span>DT</span>
        </div>
        <p *ngIf="!admin">{{ product.price }} {{ product.unit }}</p>
      </igx-card-content>
      <div class="container flex">
        <div class="modifie">
          <mat-icon class="icon" (click)="add()">add_box</mat-icon>
        </div>
        <div class="modifie">
          <mat-icon class="icon" (click)="remove()">remove_box</mat-icon>
        </div>
      </div>
    </div>
  </igx-card>
</div>
