/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Mochiy+Pop+One&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap");
$fs_small: clamp(1.2rem, calc(1.5vw + 1rem), 1.7rem);
$fs_medium: clamp(1.5rem, calc(1.5vw + 1rem), 2.5rem);
$fs_large: clamp(2em, calc(9 / 80 * 100vw), 4em);
$col_white: #f9f7f7;
$col_blue1: #dbe2ef;
$col_blue2: #3f72af;
$col_black: #112d4e;
$marg_site: min(8vw, 300px);
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  cursor: default;
}
body {
  background-color: $col_black;
}
.unvisible {
  display: none;
}
textarea {
  overflow: auto;
  resize: none;
}
.editable {
  text-align: center;
  cursor: auto;
  border: none;
  outline: none;
  background: transparent;
}
.container {
  margin: 5px;
  padding: 8px;
  position: relative;
  .big {
    margin: 20px;
    padding: 15px;
  }
}
.cancel {
  position: absolute;
}
.flex {
  display: flex;
  &.center {
    align-items: center;
    justify-content: center;
  }
  &.column {
    flex-direction: column;
  }
  &.wrap {
    flex-wrap: wrap;
  }
  &.space-around {
    justify-content: space-around;
  }
  &.space-between {
    justify-content: space-between;
  }
}
.wrapper {
  display: flex;
  flex-flow: row wrap;
}

.button-sample {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  flex: 1 0 30%;
  margin: 16px 0;
}
.pointer {
  cursor: pointer;
}
.back {
  align-content: flex-start;
}

@media (max-width: 900px) {
  .items {
    flex-grow: 0.25;
  }
}
@media (max-width: 500px) {
  .items {
    flex-grow: 0.5;
  }
}
.Vflex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Mflex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
