<div class="container">
  <h1 class="title">
    {{ "PAGES.HOME.TITLE" | translate }}
  </h1>
  <button mat-raised-button (click)="createUser()">Click it</button>

  <button
    (click)="readUsers()"
    #error
    [swal]="{
      title: 'Mot De Passe Incorrect!',
      text: 'Vérifier le mot de passe du User',
      icon: 'error',
      position: 'top'
    }"
  >
    swal tester
  </button>

  <a routerLink="/detail">{{ "PAGES.HOME.GO_TO_DETAIL" | translate }}</a>
  <app-card></app-card>
  <app-sub-card></app-sub-card>

  <igx-date-picker item-width="50%" [value]="date" [formatter]="formatter">
    <label igxLabel>Date</label>
  </igx-date-picker>
</div>
