<div class="flex column father">
  <div class="container pointer">
    <mat-icon class="icon pointer">close</mat-icon>
  </div>
  <input class="heading editable" value="Management" [readonly]="!admin" />

  <div class="container flex fatherof3">
    <div class="container child flex wrap back card">
      <app-card
        class="sample-column card-wrapper container"
        *ngFor="let item of categories"
        [category]="item"
      ></app-card>
      <div
        *ngIf="admin"
        class="container sample-column card-wrapper flex center but"
      >
        <button mat-fab class="pointer" (click)="addCategory()">
          <mat-icon class="pointer">add</mat-icon>
        </button>
      </div>
    </div>

    <div class="container child flex wrap back">
      <ng-container *ngIf="category">
        <app-sub-card
          *ngFor="let item of category.products"
          [product]="item"
        ></app-sub-card>
      </ng-container>

      <div
        *ngIf="admin"
        class="container sample-column card-wrapper flex center but"
      >
        <button
          mat-fab
          class="pointer"
          [disabled]="!category"
          (click)="addProduct()"
        >
          <mat-icon class="pointer">add</mat-icon>
        </button>
      </div>
    </div>
    <div class="container child container flex wrap">
      <app-bill></app-bill>
    </div>
  </div>
  <div class="container flex space-around wrap footer">
    <div>
      <button
        #error
        class="unvisible"
        [swal]="[
          'Command en cours!',
          'Terminer la commande en cours svp',
          'warning'
        ]"
      ></button>
      <button mat-flat-button color="warn">
        <p class="pointer">Start Command</p>
      </button>
    </div>

    <button mat-flat-button color="warn">
      <p class="pointer">Finish Command</p>
    </button>

    <div *ngIf="admin">
      <button
        mat-flat-button
        (click)="saveChanges()"
        [swal]="['Enregistré!', 'Vos changement ont été enregistré', 'success']"
      >
        <p class="pointer">Save Changes</p>
      </button>
    </div>
    <div *ngIf="admin">
      <button mat-flat-button>
        <p class="pointer">Dashbord</p>
      </button>
    </div>
    <div *ngIf="admin">
      <button mat-flat-button>
        <p class="pointer">changer mot de passe</p>
      </button>
    </div>
  </div>
</div>
