<div class="container">
  <h1 class="title">
    {{ "PAGES.HOME.TITLE" | translate }}
  </h1>
  <button mat-raised-button (click)="addCategory()">Add</button>

  <button mat-raised-button (click)="deleteCategory()">Delete</button>

  <button
    #error
    [swal]="{
      title: 'Mot De Passe Incorrect!',
      text: 'Vérifier le mot de passe du User',
      icon: 'error',
      position: 'top'
    }"
  >
    swal tester
  </button>

  <a routerLink="/detail">{{ "PAGES.HOME.GO_TO_DETAIL" | translate }}</a>

  <app-card
    *ngFor="let category of categories"
    [category]="category"
  ></app-card>
  <div *ngIf="category">
    <app-sub-card
      *ngFor="let product of category.products"
      [product]="product"
    ></app-sub-card>
  </div>
</div>
